.ssc{
    position: relative;
    top: 10px;
}
.scard {
  border: 1px solid #f0e5e5;
  border-radius: 18px;
  box-shadow: 0 0 20px 20px rgba(71, 39, 39, 0.1);
  width: 300px;
  padding: 50px;
  margin: 70px;
  position: relative;
  height: 300px;
  top: 5px;
  left: 20px;
  line-height: 25px;
}

.scard:hover{
  border: 1px solid #f0e5e5;
  box-shadow: 0 0 20px 20px rgba(81, 231, 11, 0.1),
              0 10px 20px 20px rgba(81, 231, 11, 0.1),
              0 10px 20px 20px rgba(81, 231, 11, 0.1);
 
}

.product-name {
  font-size: 18px;
  margin: 0;
  color: #ff00ea; 
}

.product-price {
  font-size: 16px;
  margin: 15px 0;
}
  .see-more-button {
    background-color: #007bff;
    color: white;
    border: none;
    position: relative;
    top: 30px;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .see-more-button:hover {
    background-color: #b3389e;
    }
    
  .see-more1-button {
    background-color: black;
    color: white;
    border: none;
    position: relative;
    top: 112px;
    left: 100px;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

  }
  
  .see-more1-button:hover {
    background-color: #b3389e;
    }
/*   
  @media screen and (max-width: 768px) {
    .scard {
      width: calc(100% - 40px);
      margin: 20px 0;
    }
  }   */