.alert {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert-success {
    background-color: #3c763d;
    color: #dff0d8;
    border-color: #d6e9c6;
  }
  
  .alert-warning {
    background-color: #a0a134;
    color: #000000;
    border-color: #faebcc;
  }
  
  .alert-danger {
    background-color: #a94442;
    color: #f2dede;
    border-color: #ebccd1;
  }
  
  .close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    line-height: 1;
    color: #ffffff;
    border-radius: 50%;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
  }
  
  .close:hover {
    background-color: #ff0000;
    text-decoration: none;
    opacity: 0.75;
  }
  